@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald-regular-webfont.eot') format('embedded-opentype'),url('../fonts/oswald-regular-webfont.woff') format('woff'),url('../fonts/oswald-regular-webfont.ttf') format('truetype'),url('../fonts/oswald-regular-webfont.svg') format('svg');
}

@font-face {
    font-family:'Oswald-Light';
src:url('../fonts/oswald-light-webfont.eot') format('embedded-opentype'),url('../fonts/oswald-light-webfont.woff') format('woff'),url('../fonts/oswald-light-webfont.ttf') format('truetype'),url('../fonts/oswald-light-webfont.svg') format('svg');
}

@font-face {
    font-family:'Oswald-Stencil';
src:url('../fonts/oswald-stencil-webfont.eot') format('embedded-opentype'),url('../fonts/oswald-stencil-webfont.woff') format('woff'),url('../fonts/oswald-stencil-webfont.ttf') format('truetype'),url('../fonts/oswald-stencil-webfont.svg') format('svg');
}

body {
    font-family: 'Oswald','Open Sans','Arial';
}

body,h1 {
    margin: 0;
    padding: 0;
}
ul{margin:0;}

html,body{margin:0;padding:0;height:100%;font-family: 'Oswald','Open Sans','Arial';}
.hk-header{font-family: 'Oswald-Stencil','Open Sans','Arial';background-color:rgb(136, 5, 42);font-size:64px;color:#FFF;}
.hk-header-content{max-width:960px;margin:auto;padding:10px;}
.hk-body{max-width:960px;margin:auto;padding:10px;}
.hk-topics{padding-bottom:20px;}
.hk-topic-header{font-size:30px;color:rgb(136, 5, 42);border-bottom: 3px dotted rgb(136,5,42);}
.hk-topic-content{margin:10px 0;}
.hk-topic-lcontent1{float:left;width:200px;}
.hk-topic-lcontent2{float:left;margin-left:15px;max-width:700px;}
.clear-fix{clear:both}
.intro{font-size:20px;}
.intro{font-size:20px;margin-bottom:20px;}
.hk-topic-content-title{font-size:20px;}
@media only screen and (min-device-width : 240px) and (max-device-width : 320px) { .hk-header{font-size:50px;} }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { .hk-topic-lcontent1{width:110px;} }

